.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
  }
  
  .navbar-left h2 {
    margin: 0;
    color: white;
    font-size: 25px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin-right: 10px; */
    object-fit: cover;
  }
  
  .profile-name {
    font-weight: bold;
    color: black;
  }
  
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-right nav {
    display: flex;
    gap: 8px;
  }
  
  .nav-link {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 3px;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  
  @media only screen and (max-width: 500px) {
    .navbar-left h2 {
      margin: 0;
      color: white;
      font-size: 20px;
  
    }
    
  }